
svg {
  display:block;
  
  width: 100%;
  height: 600px;
}


#states *.on {
  fill: red;
}
#info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-of-states {
  margin: 0;
  padding: 0;
  columns: 100px auto;
  column-gap: 8px;
  list-style: none;
}
.list-of-states li {
  padding: 2px 4px;
  display: inline-block;
  width: 100%;
}
.list-of-states li.on {
  background: red;
  color: white;
  font-weight: bold;
}
.message{
  width:4px;
  height:3px;
  background-color: blue;
}